
.turn
{
    font-size: small;
    margin-left: 150px;
    
}
.stat
{
    font-size: small;
   
}
.index
{
    background-color: rgb(240, 218, 190);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    height:80px;

    
}

.newss
{
    float:right;
    margin-right: 100px;
    width:610px;
    margin-top:2px;
    background-color: rgb(231, 224, 224) ;
    height:450px;
}
.news1
{
    border-bottom:solid rgb(46, 45, 45);
   background-color:rgb(201, 200, 200);
    border-radius: 5px;
    height:90px;
}
.news2
{
    border-bottom:solid rgb(133, 126, 126);
    
    border-radius: 5px;
    height:90px;
}
.news1:hover
{
    background-color: darkkhaki;
    color:rgb(10, 4, 4);
    cursor: pointer;
    font-weight: bold;
    
}
.news2:hover
{
    background-color: darkkhaki;
    color:black;
    cursor: pointer;
    font-weight: bold;
    
}

.hloo
{
    width:110px;
    height:86px;
  
}
.bott
{
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left:100px;
    border: solid rgb(192, 187, 187);
    width:700px;
    height:330px;
    background-color: rgb(207, 239, 247);
}
.marim
{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    width:690px;
    height:330px;
}
.marim:hover{
    cursor:pointer;
}
.adv
{
    float:right;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 0px;
    border: 3px solid rgb(167, 183, 194) ;
    
    height:125px;
    width:189px;
    margin-right: 10px;
    
font-size:x-large;
text-align: center;
}
.comp
{
    margin-top: 0px;
    margin-left: 105px;

    width:650px;
    
}
.adv:hover
{
    background-color: rgb(198, 216, 248);
    font-weight:bold;
    cursor:pointer;
    color:darkblue;
}
.righ
{
    float:right;
    margin-right:100px;
}
.summ
{
    
    width:600px;
    height:200px;
  
    margin-top:0px;
}
.marke
{
    margin-left: 5px;
    width:900px;
    border-bottom: solid rgb(189, 186, 186);
      background-color: rgb(12, 211, 211);
      border-right:solid rgb(189, 186, 186) ;
      padding-left: 8px;
      font-size: x-large ;
      height:60px;
}

.det
{
    margin-left: 5px;
    border-bottom:solid rgb(189, 186, 186);
    

}
.bord
{
    height:60px;
    border-right:solid rgb(189, 186, 186) ;
    padding-left: 7px;
}
.live
{
    margin-top: 20px;
    width:700px;
    height:1200px;
    margin-left: 100px;

    text-align: center;
}
.ro
{
    
    height:60px;
    border-top: solid black;
    border-bottom: solid black;
    background-color: rgb(112, 154, 182);
}
.borde
{
    
    border-right: solid black;
    border-left: solid black;
  border-bottom: solid black;
}
.bor
{
  width:60px;
    border-right: solid black;
    border-left: solid black;
    height:50px;
}
.roo
{
    height:50px;
   border-bottom: solid black;
   background-color: rgb(233, 230, 227);
}
.roo:hover{
    background-color: rgb(179, 176, 174);
    cursor: pointer;
}
.subin
{
background-color: rgb(196, 190, 183);
border-bottom: solid black;
border-top: solid black;
border-left: solid black;
border-right: solid black;
width:600px;
margin-top: 10px;
padding-left: 12px;
}
.roww
{
    height:40px;
    border-bottom: solid black;

}
.headi
{
    background-color: rgb(171, 180, 197);
    height:50px;
    font-size: larger;
    font-style: italic;
}
.nav-item:hover
{
    background-color: royalblue;
}
.col
{
    width:50px;
}
.subindi
{
  
    border-radius: 3px;
}